Host bitbucket.org
    HostName bitbucket.org
    IdentityFile ~/.ssh/bitbucket_key
    IdentitiesOnly yes

Host github.com
    HostName github.com
    IdentityFile ~/.ssh/github_key
    IdentitiesOnly yes

Host moss
    HostName moss.labs.eait.uq.edu.au
    User s4696360
    IdentityFile ~/.ssh/moss_key
    IdentitiesOnly yes

AddKeysToAgent   yes
